# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- IDE & System Files ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Jupyter Notebooks ---
.ipynb_checkpoints/

# --- Firebase CLI cache ---
.firebase/

# --- Project Specifics ---
# In case you ever test with a local database again
*_db/
*.log
mobile/node_modules/
mobile/.expo/
mobile/package-lock.json
